/*
 * Start of body section
 */
body {
	width: 1000px;
	background-color: #e5e5e5;
	margin: 0 auto 0 auto;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

nav {
	height: 22px;
	margin: 0px;
}

.loggedInMsg {
	width: 210px;
	float: right;
	margin: 0px;
	text-align: right;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #999999;
}

:-webkit-input-placeholder {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #CCC;
}
:-moz-placeholder {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #CCC;
}
:-ms-input-placeholder {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #CCC;
}

/*
 * Start of example section
 */
article {
	margin-bottom: 10px;
	background-color: #c4c3c3;
	padding: 5px 5px 5px 7px;
	border-radius: 3px;
}

.articleHeader {
	margin-bottom: 10px;
}

section.examples {
	clear: both;
}

section.h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.exampleTitle {
	width: 500px;
	margin-top: 0;
	margin-bottom: 5px;
}

.exampleDate {
	float: right;
	margin-top: -23px;
}

.btnEdit {
	margin-top: -5px;
	width: 20px;
	height: 20px;
}

.btnDelete {
	margin-top: -5px;
	width: 20px;
	height: 20px;
}

.articleImg {
	padding-top: 3px;
}

#exampleFieldset {
	width: 340px;
	display: none;
}

#exampleForm label:first-of-type {
	margin-top: 18px;
}

#exampleForm input {
	width: 200px;
}

#exampleFormTitle {
	margin-top: 0px;
}

#exampleFormDesc {
	height: 100px;
	width: 200px;
}

form label {
	display: block;
	float: left;
	width: 113px;
	text-align: right;
	margin: 6px 5px 0px 0px;
}

form input {
	margin: 3px 0 1px 0;
}

#exampleFormSm {
	padding: 1px;
	margin-top: 5px;
	width: 115px!important; 
}

#exampleForm {
	text-align: left;
}

#formCloseBtn {
	float: right;
	margin-top: -10px;
	margin-right: -6px;
	padding: 5px;
	clear: both;
}
/*
 * End of example section
 */

