body {
	width: 1000px;
	background-color: #e5e5e5;
	margin: 0 auto 0 auto;
}

nav {
	height: 30px;
}

h3{
	margin-top: 0px;
	margin-bottom: 10px;
}

article{
	margin-bottom: 10px;
	background-color: #c4c3c3;
}

.loggedInMsg{
	width: 150px;
	float: right;
}
